<div class="post-and-replies">
  <article class="post" postId="{{postId}}">
    <button type="button" class="report-button">Sink</button>
    <div class="image">
      <img class="img" src="{{img}}" />
    </div>
    <div class="content">
      <p class="text">
        {{txt}}
      </p>
    </div>
    <br class="clear">
    <div class="post-buttons">
      <button type="button" class="like-button"><p class="like-number">{{likes}}</p> Likes</button>
      <button type="button" class="reply-button">Reply</button>
      <button type="button" class="view-button">View Replies</button>
    </div>
  </article>
  <div class="create-reply hide2">
    <div class="create-reply-input">
      <textarea placeholder="New Reply text."></textarea>
    </div>
    <button type="button" class="cancel-reply-button">Cancel</button>
    <button type="button" class="create-reply-button">Post Reply</button>
  </div>
  <div class="reply-container hide2">
    <div class="hide2">
      {{#checklength replies 0}}
        {{reverseArray replies}}
      {{/checklength}}
    </div>
    {{#each replies}}
      {{> replytemp}}
    {{/each}}
  </div>
</div>
